body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg");
  background-position: top;
  
}

.App {
  text-align: center;
}

a:hover {
  color: #fed136;
}

span {
 font-size: 18px;
    }

.main-header {
  height: 125px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 0px;
}

.main-header img {
  height: 75px;
  width: 205px;
  padding-right: 100px;
  
}

.desktop-menu {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
}

.dropdown {
  display: none
}
 
.mobile-menu {
  display: none
}

@media (max-width: 990px){
  .desktop-menu {
    display: none;
  }

  .dropdown {
    display: initial;
    font-size: 25px;
    cursor: pointer;
  }

  .mobile-menu {
    display: initial;
    position: fixed;
    top: 125px;
    right: 0px;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}